
/* exception pour mettre le scroll sur main et pas sur body*/
body.article main {
  height: 100vh;
  overflow-y: auto;
}

.main_aside_wrapper {
  display: flex;
}

#main_article section {
  padding: var(--p2);
}
#main_article h2,
#main_article p {
  max-width: 720px;
}
#main_article section:last-of-type{
  padding-bottom: var(--p2);
}



/* ASIDE */

#aside_article > h3 {
  border-top: solid var(--m1) var(--jaune);
  padding-top : var(--p1);
  padding-bottom : calc( var(--p1));
  padding-left : var(--p2);
  border-bottom: solid 1px var(--gris);
  font-weight: 400;
  font-family: var(--lineal);
  position: sticky;
  top : 0px;
  width: 100%;
  background-color: white;
  z-index: 99;
}
#actualites #aside_article > h3 {
  border-top: solid var(--m1) var(--bleu);
}
#aside_article > h3::after {
  content: '/';
  font-weight: 100;
  color: var(--gris-sombre);
  font-family: var(--mono);
  line-height: var(--lineal_lh1);
  margin-left: var(--p0);
  margin-right: var(--p0);
}

#aside_article {
  font-family: var(--lineal);
}
#aside_article {}
#aside_article figure img{
  border: solid 1px var(--gris);
  margin-top: var(--p2) !important;
  margin-bottom: 0;
}
#aside_article figure img{
  max-width: 100%; margin: auto;
  width: auto;
}
#aside_article figure h3{
  font-weight : 600;
}

#aside_article .credits {
  padding-top: var(--p1);
  padding-left: var(--p2); padding-right: var(--p2);
  
  text-align: right;

  font-size: var(--lineal_fs0-5);
  line-height: var(--lineal_lh0-5);
}
#aside_article figcaption {
  padding: var(--p2);
  font-family: var(--lineal);
}
#aside_article figcaption * {
  font-size: var(--lineal_fs0);
  line-height: var(--lineal_lh0);
  font-family: var(--lineal);
}
#aside_article figcaption h3 {
  font-size: var(--lineal_fs1);
  line-height: var(--lineal_lh1);
}
#aside_article figcaption ul,
#aside_article figcaption ol {
  padding-left: var(--p1);
  margin-bottom: var(--m1);
}
#aside_article figcaption li {
  padding-left: 0px !important;
}
#aside_article figcaption ul li {
  list-style: disc;
}
#aside_article figcaption ol li {
  list-style: decimal;
}
/* deploiement de la figcation */
#aside_article figcaption[data-layout="closed"] div {
  height: calc(4 * var(--lineal_lh1));
  overflow: hidden;
}
#aside_article figcaption[data-layout="closed"] div:before {
  content: '';
  position: absolute;
  width: 100%;
  min-height: calc(4 * var(--lineal_lh1));
  background: linear-gradient( transparent calc(1 * var(--lineal_lh1)), white );
}
#aside_article .show_figcaption {
  background-color: var(--white);
  border: 1px solid var(--gris);

  width: calc(3 * var(--m1));
  aspect-ratio: 1/1;
  margin: auto;
  display: block;
}
#aside_article .show_figcaption:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#aside_article .show_figcaption:hover {
  background-color: var(--jaune);
}
#aside_article figcaption[data-layout="closed"] .show_figcaption:before {
  background-image: url("../img/croix_jaune.svg");
}
#aside_article figcaption[data-layout="open"] .show_figcaption:before {
  background-image: url("../img/multiplier_jaune.svg");
}
#aside_article figcaption[data-layout="closed"] .show_figcaption:hover:before {
  background-image: url("../img/croix_blanc.svg");
}
#aside_article figcaption[data-layout="open"] .show_figcaption:hover:before {
  background-image: url("../img/multiplier_blanc.svg");
}
#aside_article .credits + figcaption {
  padding-top: var(--p1);
}


#aside_article {
/*width: var(--aside_width);*/
  border-left : solid 1px var(--gris);
  flex: 1;
}
#aside_article .doc_section ul {
  /*border-top: solid 1px var(--gris-clair);*/
  /*margin-bottom: var(--m1);*/
}
#aside_article .doc_section {
  /*margin-top: var(--m1);*/
}
#aside_article .doc_section ul li:not(li:last-of-type){
}
.doc_section ul li {
  list-style:none;
  padding: var(--p1) var(--p2) var(--p1) var(--p2);
  margin-bottom:0 !important;
}
.doc_section ul li a{
  margin-bottom:0 !important;
}
.doc_section h3 {
}
#aside_article li {
  padding-left: 3rem !important;
}
.article_bibliographie li:before {
  content: ' ';
  background-image: url("../img/quote.svg");
  background-repeat:no-repeat;
  background-position:center center;
  float:left;
  margin-top: -0.5rem;
  margin-left: -2rem;
  height: calc( 20px +var(--lineal_lh1));
  width:2rem;
}
main a,
aside a {
  color : black;
  text-decoration : underline;
}
.article_liens li:before {
  content: ' ';
  background-image: url("../img/lien.svg");
  background-repeat:no-repeat;
  background-position:center center;
  float:left;
  margin-top: -0.5rem;
  margin-left: -2rem;
  height: calc( 20px +var(--lineal_lh1));
  width:2rem;
}

.article_documents li:before {
  content: ' ';
  background-image: url("../img/file.svg");
  background-repeat:no-repeat;
  background-position:center center;
  float:left;
  margin-top: -0.5rem;
  margin-left: -2rem;
  height: calc( 20px +var(--lineal_lh1));
  width:2rem;
}


/* onglets dans aside */

.tab_container {
 /* display: flex;*/
}
.tab_container * {
  flex: 1;
}

#aside_article .tab_container {
  position: sticky;
  z-index: 1;
  top: -0px;
  background-color: white;
  border-bottom : solid 1px var(--gris);
}

#aside_article .tab_item {

  /* debug pr gérer le hover avec un border --jaune */
  padding-left: var(--p1);
  padding-right: var(--p1);
  display: block;

}
#aside_article .tab_item:not(.inactive) {
  cursor: pointer;
}
#aside_article .tab_item h3 {
  margin-bottom:0;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--lineal_fs1);
  line-height: var(--lineal_lh1);
}
#aside_article  div.tab_item,
#aside_article  button.tab_item {
  display: block;
  width: 100%;
  border:none;
  text-align: left;
  background-color: white;
  outline:none;
}

#aside_article .tab_item.active,
#aside_article .tab_item:not(.inactive):hover,
#aside_article .tab_item:not(.inactive):focus {
  background-color: var(--jaune);
}

#aside_article .tab_target {
  padding-top: var(--p1);
}

#aside_article .tab_target:not(.active) {
  display: none;
}
/*
#article_images h3:before {
  content: ' ';
  background-image: url("../img/pic.svg");
  background-repeat:no-repeat;
  background-color:white;
  background-position:center center;
  float:left;
  height: calc( 20px + var(--lineal_lh1));
  margin-top: -10px;
  width:2rem;
}*/
#aside_article .tab_item[data-target="images"]:before {
  content: ' ';
  background-image: url("../img/pic.svg");
  background-repeat:no-repeat;
  background-position:center center;
  float:left;
  height: calc( 20px +var(--lineal_lh1));
  width:2rem;
}

#aside_article .tab_item.inactive {
  background-color:var(--gris-clair);
}
#aside_article .tab_item#tab_documents:before {
  content: ' ';
  background-image: url("../img/file.svg");
  background-repeat:no-repeat;
  background-position:center center;
  float:left;
  height: calc( 20px +var(--lineal_lh1));
  width:2rem;
}

#aside_article .tab_item#tab_bibliographie:before {
  content: ' ';
  background-image: url("../img/quote.svg");
  background-repeat:no-repeat;
  background-position:center center;
  float:left;
  height: calc( 20px +var(--lineal_lh1));
  width:2rem;
}


/* Section borders */

#aside_article figure,
#main_article .doc_section,
#aside_article .doc_section{
  border-bottom: solid 1px var(--gris);
}
