

/* > 1000 */

@media (min-width:1000px) {

    body {}

    #header_mobile,
    .menu#mobile, .mobile {
        display: none;
    }



    /* LOGOS VERTICAUX */
    :root {
      --largeur_tranche_logo_vertical: 4rem;
    }
    .tranche_logo_vertical {
      width: var(--largeur_tranche_logo_vertical);
      border-right: solid 1px var(--gris);
    }
    .tranche_logo_vertical figure {
      height: 100vh;

      border-top: solid var(--p1);
    }
    .rubrique .tranche_logo_vertical figure {
      border-color: var(--vert);
      background-color: var(--vert);
    }
    .article .tranche_logo_vertical figure {
      border-color: var(--jaune);
      background-color: var(--jaune);
    }
    #actualites.article .tranche_logo_vertical figure {
      border-color: var(--bleu);
      background-color: var(--bleu);
    }

    .tranche_logo_vertical figure img {
      object-fit: cover;
      width: 100%;
      height: 100%; max-height: none;

      mix-blend-mode: screen;
      filter: grayscale(1);
    }

    /* ARTICLE */
    #aside_article section.doc_section {
      display: none;
    }
    /*
    #aside_article section#article_images > h3 {
      padding: var(--p2);
      padding-bottom: 0px;
    }*/

    /* RUBRIQUE */

    .rubrique_title {
      display: flex;
    }
    
    #main_rubrique aside {
      height: calc( 100vh - calc(var(--lineal_lh1) + var(--p1) * 3));
    }

    #main_portail .texte_portail {
      border-top: solid var(--m1) var(--vert);
    }

    /* GENERAL */

    .over_1000 {
      display: initial;
    }
    .under_1000 {
      display: none;
    }

    /* ARTICLE BORDER */

    #main_article .article_texte {
      border-bottom: solid 1px var(--gris);
    }

}



/* < 1000 */

@media (max-width:999px) {

    .desktop {
      display: none !important;
    }

    body {
        flex-direction: column;
    }
    .menu#desktop {
        display: none;
    }


    main {
      height: auto;
      overflow: visible;
    }

    /*
      HEADER MOBILE
    */
    :root {
      --header_mobile_logo_height: 62px;
      --header_mobile_height: calc( var(--header_mobile_logo_height) + var(--p1) * 2);
    }
    #header_mobile {
      position: sticky;
      /* justify-content: space-between; */
      background-color:#fff;
      z-index: 999;
    }
    #header_mobile #logo img {
      /*width: 250px;*/
      height: var(--header_mobile_logo_height);
    }
    #header_mobile #logo {
      width: 100%;
      margin-right:var(--m3);
    }

    #header_mobile {
      background-color: white;
      border-top: solid var(--p1) var(--vert);
      border-bottom: solid 1px var(--gris);
    }
    .bottom_menu #header_mobile {
      border-top: solid 1px var(--gris);
      border-bottom: solid var(--p1) var(--grisboule);
    }

    #header_mobile #ariane {
      padding:0;
      padding-left: var(--p2);
      padding-right: var(--p2);
      border-top: solid 1px var(--gris);
      border-bottom : 0;
    }



    /*
      ARIANE
    */

    #ariane .links_access_button {
      line-height: var(--header_mobile_logo_height);
    }
    #ariane .links_access_button::before {
      margin-top: 1.25rem;
    }




    /*
      MENU MOBILE
    */
    body[data-menu="open"] {
      overflow-y: hidden;
    }
    body[data-menu="open"] > *:not(#header_mobile):not(.menu#mobile) {
      opacity: .5;
      filter: blur(.5px);
    }
    .menu#mobile {
      display: none;
      position: fixed; z-index: 10;
      top: calc(var(--header_mobile_logo_height) + var(--p1) * 3);

      width: var(--menu_width);
      height: 100vh;
      overflow-y: scroll;
      background-color: white;
    }
    .menu#mobile.active {
      display: block;
    }
    button.toggle_menu {
      display: grid; place-items: center;
      border: 0px solid var(--gris); background: none;
      aspect-ratio: 1/1;

      cursor: pointer;
      z-index: 999;
      position: sticky;
      top: var(--p1);
    }
    button.toggle_menu:before {
      display: block;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/burger.svg");
      background-size: 35px;
      width: 35px; aspect-ratio: 1/1;
    }
    body[data-menu="open"] button.toggle_menu:before {
      background-image: url("../img/multiplier.svg");
    }


    /* LOGOS VERTICAUX */
    .bloc.logos_verticaux {
      display: none;
    }



    /* LISTE PAGES */

    section .liste_pages_columns {
      flex-direction: column;
    }
    section .liste_pages_columns > * {
      width: 100%;
    }

    #main_recherche .liste_pages > ul,
    #main_recherche .liste_documents > ul {
      grid-template-columns: repeat(2, 1fr);
      margin-left: calc(0 * var(--m1));
    }



    /* RECHERCHE */

    #main_recherche .pagination-items,
    #main_recherche .liste_images ul {
      margin-left: 0px;
    }

    #main_recherche .liste_images ul {
      column-count: 4;
    }



    /* SOMMAIRE */
    
    #sommaire_texte {
      display: flex; gap: 0px;
      flex-direction: column;
    }
    /* liste d'articles en colonnes */
    .gaufrier ul {
      flex-direction: column;
    }


    /* PAGE PORTAIL */

    #main_portail .texte_portail {
      display: flex; gap: 0px;
      flex-direction: column;
    }
    


    /* RUBRIQUE */

    #main_rubrique .rubrique_intro {
        display: flex;
        flex-direction: column;
    }
    .rubrique_menu_wrapper {
      display: block;
    }
    #aside_portail,
    #aside_rubrique {
      position: sticky;
      top: 0px;
      height: auto;
      padding-bottom: var(--p2);
      border-right: 0px;
      width: 100%;
    }
    /* rubrique : logo avant notice */
    .rubrique_intro .rubrique_logo {
      order: -1;
    }
    /* TODO : à remettre si on n'utilise pas les container queries */
    /*
    .rubrique_enfants .enfant a .intro_enfant {
      display: flex;
      flex-direction: column;
    }
    .rubrique_enfants .enfant a .bouton_lien_enfant {
      float: none;
      margin: auto;
    }
    */

    /* boulier plus large */
    /* grid-area: row / col; */
    ul.boulier > li:nth-child(1) { grid-area: 1 / 1; }
    ul.boulier > li:nth-child(2) { grid-area: 1 / 3; }
    ul.boulier > li:nth-child(3) { grid-area: 1 / 5; }
    ul.boulier > li:nth-child(4) { grid-area: 1 / 7; }
    ul.boulier > li:nth-child(5) { grid-area: 1 / 9; }

    ul.boulier > li:nth-child(6) { grid-area: 2 / 2; }
    ul.boulier > li:nth-child(7) { grid-area: 2 / 4; }
    ul.boulier > li:nth-child(8) { grid-area: 2 / 6; }
    ul.boulier > li:nth-child(9) { grid-area: 2 / 8; }

    ul.boulier > li:nth-child(10) { grid-area: 3 / 1; }
    ul.boulier > li:nth-child(11) { grid-area: 3 / 3; }
    ul.boulier > li:nth-child(12) { grid-area: 3 / 5; }
    ul.boulier > li:nth-child(13) { grid-area: 3 / 7; }
    ul.boulier > li:nth-child(14) { grid-area: 3 / 9; }

    ul.boulier > li:nth-child(15) { grid-area: 4 / 2; }
    ul.boulier > li:nth-child(16) { grid-area: 4 / 4; }
    ul.boulier > li:nth-child(17) { grid-area: 4 / 6; }
    ul.boulier > li:nth-child(18) { grid-area: 4 / 8; }

    ul.boulier > li:nth-child(19) { grid-area: 5 / 1; }
    ul.boulier > li:nth-child(20) { grid-area: 5 / 3; }
    ul.boulier > li:nth-child(21) { grid-area: 5 / 5; }
    ul.boulier > li:nth-child(22) { grid-area: 5 / 7; }
    ul.boulier > li:nth-child(23) { grid-area: 5 / 9; }
    
    ul.boulier > li:nth-child(24) { grid-area: 6 / 2; }
    ul.boulier > li:nth-child(25) { grid-area: 6 / 4; }
    ul.boulier > li:nth-child(26) { grid-area: 6 / 6; }


    /* ARTICLE */
    #aside_article {
      border-top: solid var(--p1) var(--jaune);
    }
    .article_texte {
      border-bottom: solid 1px var(--gris);
    }
    /*
    #aside_article section#article_images > h3 {
      padding: var(--p2);
      padding-bottom: 0px;
    }
    */
    .mobile section {
    /*border-top: solid 1px var(--gris);*/
      padding: var(--p2);
    }

    /* GLOBAL */
  
    .over_1000 {
      display: none;
    }
    .under_1000 {
      display: initial;
    }

    /* MENTION MONOGRAPHIE */

    .mono_info {
      margin-bottom: var(--m2);
    }
}
