
/* > 768 */

@media (min-width:768px) {

  /* FOOTER */

  footer.mobile ul {
  }
  footer.mobile ul li {
  }

  /* MENU */

  #header_mobile #ariane {
    display: flex;
  }
  
  /* HEADER MOBILE */

  #header_mobile #logo {
    display: flex;
  }
  #header_mobile #logo li{
    flex: 1;
  }
  #header_mobile {
    top: calc( 62px  * -1 - var(--p1));
  }
}



/* < 500 */

@media (max-width:767px) {

  
  /* HEADER MOBILE */

  #header_mobile #logo li{
    border-top: solid 1px var(--gris) !important;
  }

  #header_mobile {
    top: calc( 62px * 2 * -1 - var(--p1) - 2px);
  }
}
  /* FOOTER */

  footer.mobile ul li {
    border-bottom: solid 1px var(--gris);
    height: var(--footer_mobile_height);
  }
