


/* > 500 */

@media (min-width:500px) {
}



/* < 500 */

@media (max-width:499px) {

  :root {
    --p2: 1.5rem;

    --serif_fs2: 1.15rem;
    --serif_lh2: 1.7rem;
  }

  /* LISTE PAGES */

  section .liste_pages_columns {
    flex-direction: column;
  }
  section .liste_pages_columns > * {
    width: 100%;
  }

  .liste_pages > ul {
    margin-left: 0px;
  }

  #main_recherche .liste_pages > ul,
  #main_recherche .liste_documents > ul {
    grid-template-columns: repeat(1, 1fr) !important;
  }


  
  /* RECHERCHE */

  #main_recherche .pagination-items,
  #main_recherche .liste_images ul {
    margin-left: 0px;
  }

  #main_recherche .liste_images ul {
    column-count: 3;
  }



  /* RUBRIQUE */

  /* bouton sous themes en dessous du titre */
  .rubrique_title {
    flex-direction: column;
  }
  .rubrique_title a {
    align-self: flex-end;
  }
  

}
