/* RESET */

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
img {
    display: block; 
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
}
a {
    color: inherit; text-decoration: none;
}
li {
  list-style:none;
}
#spip-admin { z-index: 999; }
/*
#spip-admin { display:none; }
*/
/*
  MARGINS/PADDINGS
*/

:root {
  --m1: 1rem;
  --m2: 2rem;
  --m3: 3rem;
  --p0: 0.5rem;
  --p1: 1rem;
  --p2: 2.5rem;
}

/*
  COLORS
*/

:root {
  /* COLORS */
  --blanc: white;
  --vert: #0B6;
  --vert-clair: #0B63;
  --vert_sombre: #063;
  --jaune: #FFC85F;
  --jaune-clair: #FFC85F6F;
  --gris-sombre: #BBB;
  --gris-transparent: #DDDB;
  --gris: #F0F0F0;
  --gris-clair: #F0F0F0;
  --grisboule: #888;
  --grisboule-clair: #CCC;
  --bleu: #89F;
}

/*
  WIDTH
*/

:root {
    --liste_pages_img_width: 60px;
}


/*
  BODY
*/

body {
  display: flex;
}

/*
  MENU
*/

:root {
  --menu_width: 16rem;
}

.menu {
  border-right : solid 1px var(--gris);
  display: flex; flex-direction: column;
  position: sticky; top: 0px;
  width: var(--menu_width);
  height: 100vh;
  overflow: hidden;
}
.menu footer {
  margin-top: auto;
}

.menu #logo {
  margin: var(--m1);
}
.menu #logo img {
  width: 213px;
}
.menu nav ul li {
  border-left: calc(1 * var(--p1)) solid var(--vert);
  margin-bottom: 0px;
}
.menu nav ul li a {
  display: block;
  padding-left: calc(0 * var(--p1) + var(--p1));
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: var(--p1);
}
.menu nav li:hover,
.menu nav li.actif,
.menu nav li.intersecting {
  border-left: calc(2 * var(--p1)) solid var(--vert);
}

/*
  MENU TEXT
*/

.menu #logo h1 {
  font-size: var(--lineal_fs2);
  font-weight: 700;
}
.menu #logo p,
.menu #logo p * {
  font-family: var(--serif);
  font-size: var(--serif_fs2);
  font-weight: 300;
}
#header_mobile #recherche_container *,
footer.mobile nav *,
.menu nav * {
  font-family: var(--lineal);
  line-height: var(--lineal_lh1);
  font-size: var(--lineal_fs1);
}

footer.mobile nav li:hover,
footer.mobile nav li:hover #recherche::placeholder,
footer.mobile nav li #recherche:focus,
footer.mobile nav li.intersecting,
.menu nav li:hover,
.menu nav li.actif *,
.menu nav li:hover #recherche::placeholder,
.menu nav li #recherche:focus,
.menu nav li.intersecting {
  font-weight: 700;
}




/*
  FOOTER
*/

footer {
  height: 120px;
}
/* superposition des éléments */
footer { position: relative; }
footer > * { position: absolute; }
footer img {
  top: var(--p1);
  left: var(--p1);
  width: 80px;
}
footer text:hover {
    fill: var(--vert);
}



/* ASIDE */

:root {
  --aside_width: calc(100% / 3.25);
}

aside {
  display: block;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/*
  MAIN
*/

main {
  flex: 1;
}

/*
  TITRES
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: var(--lineal);
}

h2 {
  font-size: var(--lineal_fs2);
  line-height: var(--lineal_lh2);
  font-weight:700;
  margin-bottom: var(--m1);
}

h3 {
  font-size: var(--lineal_fs1);
  line-height: var(--lineal_lh1);
  font-weight: 500;
  margin-bottom: var(--lineal_lh1);
}
h3.befored,
h4.befored {
  display: flex;
  gap: var(--p1);
  align-items: center;
}
h3.befored:before,
h4.befored:before {
  content: "";
  width: calc(1 * var(--m1)); flex-shrink: 0;
  aspect-ratio: 1/3;
  background-color: var(--vert);
}
#main_article h3.befored:before,
#main_article h4.befored:before {
  background-color: var(--jaune);
}
#aside_article h3.befored:before,
#aside_article h4.befored:before {
  background-color: var(--jaune);
}
#main_portail h3.befored:before,
#main_portail h4.befored:before {
  background-color: var(--jaune);
}
#actualites h3.befored:before,
#actualites h4.befored:before {
  background-color: var(--bleu) !important;
}


/*
  BODY TEXT
*/

body {
  font-family: var(--lineal);
}
p, p *:not(br) {
  font-family: var(--serif);
  line-height: var(--serif_lh2);
  font-size: var(--serif_fs2);
  margin-bottom: var(--m1);
}
.rubrique_notice > *:last-child,
.article_texte > *:last-child {
  margin-bottom: 0px;
}
p a {
  text-decoration: underline;
}

sup {
  font-feature-settings: 'ordn';
  vertical-align: baseline;
}
.smallcaps, sc {
  font-variant: small-caps;
}
.rubrique_notice li, .rubrique_notice a,
.article_texte li, .article_texte a {
  font-family: var(--serif);
  line-height: var(--serif_lh2);
  font-size: var(--serif_fs2);
}
.rubrique_notice ul,
.article_texte ul,
.rubrique_notice ol,
.article_texte ol {
  margin-bottom: var(--m1);
}
.rubrique_notice ul li,
.article_texte ul li {
  list-style-position: inside;
  list-style-type: disc;
}
.rubrique_notice ol li,
.article_texte ol li {
  list-style-position: inside;
  list-style-type: decimal;
}
.rubrique_notice blockquote,
.article_texte blockquote {
  margin-left: var(--m2);
}
.rubrique_notice strong,
.article_texte strong {
  font-weight: 600;
}



/* 
  bloc logos partenaires
*/

#logos_partenaires ul {
  display: flex; flex-wrap: wrap; justify-content: center;
  padding: calc(var(--m1)*1);
}
#logos_partenaires ul li { 
  margin-right: calc(var(--m1)*2); margin-bottom: calc(var(--m1)*1);
  display: flex; align-items: center;
}
#logos_partenaires img {
  display: block;
  max-width: 170px;
  max-height: 60px;
}


/*
    Liste d'articles sous forme de gaufrier d'images
*/
:root {
  --gaufrier_height: 20rem;
}

.gaufrier {
  padding: var(--p2);
}

.gaufrier ul {
  display: flex;
  gap: var(--p2);;
}
.gaufrier ul li {
  flex: 1;
  list-style:none;
}
.gaufrier ul li figure img {
  object-fit:cover;
  border : solid 1px var(--gris);
  height: var(--gaufrier_height);
}
.gaufrier ul li figure figcaption {
  border-bottom : solid 1px var(--gris);
  border-left: solid var(--p1) var(--jaune);
  border-right : solid 1px var(--gris);
  padding:var(--p1);
  font-family: var(--lineal);
  font-size: var(--lineal_fs1);
  line-height: var(--lineal_lh1);
  font-weight: 500;
}
.gaufrier ul li figure:hover figcaption{
  background-color: var(--jaune);
  color: white;
}
.gaufrier ul li a.no_logo figure:before {
  content: "";
  display: block;
  width: 100%;
  height: var(--gaufrier_height);
  background-color: var(--gris);
}

/*
    SECTION LISTE DE PAGES

    Affichage liste d'enfants et liste des sous-enfants

    - Pour liste d'actu : liste des rubriques de catégories d'actu + liste d'articles correspondants
    - Pour liste venant d'un flux RSS : titre du flux RSS + liste d'articles
    - Pour la page recherche
*/

section .liste_pages_columns {
  display: flex; flex-wrap: wrap;
  gap: var(--m2);
}
section .liste_pages_columns > * {
  width: calc(50% - var(--m2));
}

/* section .liste_pages */
.liste_pages {}
/* titre de la section */
.liste_pages h2 {}

.liste_pages ul {}
.liste_pages ul li {}

.liste_pages ul li a {
  display: block;
}

/* figure avec img et figcaption gauche/droite */
.liste_pages ul li figure {
  display: flex;
  gap: var(--p1);
  align-items: center;
}
.liste_pages ul li figure.no_logo:before {
    content: "";
    width: var(--liste_pages_img_width);
    aspect-ratio: 2/3;
    background-color: var(--gris);
    flex-shrink: 0;
}
/* img limitée en largeur + object-fit */
.liste_pages ul li figure img {
  width: var(--liste_pages_img_width);
  aspect-ratio: 2/3;
  object-fit: cover;
}
/* figcaption */
.liste_pages ul li figure figcaption {
  /* marge droite pr que le background/hover soit ok*/
  padding-right: calc(1 * var(--m1));
  
  /* limite du nombre de ligne */
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
/* listes de pages enfants */
.liste_pages > ul {
  margin-left: calc(2 * var(--m1));
}
.liste_pages ul li.sub_child:not(:first-child) {
  margin-top: var(--m1);
}
/* hover */
.liste_pages ul img {
}
.liste_pages ul li a:hover img{
}
.liste_pages ul li a {
  border: solid 1px var(--gris);
}
.liste_pages ul li a:hover {
  background-color: var(--jaune);
  color: white;
}
#actualites .liste_pages ul li a:hover {
  background-color: var(--bleu);
}

/* typo */
.liste_pages ul {
  font-family: var(--lineal);
}
.liste_pages > ul > li > figure figcaption {
  font-weight: bold;
}



/*
  LOGOS VERTICAUX
*/

.logos_verticaux {}
.logos_verticaux .tranche_logo_vertical {
  position: sticky; top: 0px;
}



/*
  ARIANE
*/

#ariane {
  display: flex;

  padding-top: var(--p1); padding-bottom: var(--p1);
  position: sticky;
  background-color: white;
  
  top: 0;
  border-bottom: solid 1px var(--gris);
  padding-left: var(--p2);
  z-index: 99;
}
#actualites main {
  border-top: solid var(--p1) var(--bleu);
}
/* exception suivant la page, TODO : unifier le fonctionnement ? */
#main_rubrique #ariane {
  border-top: solid var(--m1) var(--vert);
}
#main_article #ariane {
  border-top: solid var(--m1) var(--jaune);
}

#ariane .ariane_element a {
  font-weight: 400;
  font-family: var(--lineal);
  font-size: var(--lineal_fs1);
  text-decoration: none;
}
#ariane .ariane_element { position: relative; }
#ariane .ariane_element::after {
  content: '/';
  font-weight: 100;
  color: var(--gris-sombre);
  font-family: var(--mono);
  line-height: var(--lineal_lh1);
  margin-left: var(--p0);
  margin-right: var(--p0);
}
/* exception pr dernier element */
/*#ariane .ariane_element:last-child::after { content: ""; }*/
.rubrique #ariane .ariane_element:nth-child(2) * { font-weight: 600; color: var(--vert); }
.article #ariane .ariane_element:last-child * { font-weight: 600; color: var(--jaune); }
.article  #header_mobile  { border-top-color : var(--jaune); }
#actualites.article  #header_mobile  { border-top-color : var(--bleu); }

#ariane a,
.ariane_element a{
  line-height: calc( var(--header_mobile_logo_height));
  white-space: nowrap;
  color: black;
}
#ariane a h3 {
  overflow: hidden;
  text-overflow: '…';
  font-weight: 100;
}
.ariane_element {
  overflow: hidden;
  text-overflow: '… /';
  font-weight: 100;
  color: var(--gris-sombre);
}



/*
  PAGINATION
*/

.pagination-items.pagination_page {
  display: flex;
  column-gap: calc(1/2 * var(--m1));

  margin-top: calc(1 * var(--m1));
  font-size: 13px;
}
.pagination-items.pagination_page .pagination-item:not(.disabled) a,
.pagination-items.pagination_page .pagination-item:not(.disabled) span {
  aspect-ratio: 1/1;
  border: 1px solid var(--gris);
  border-radius: 100%;

  display: grid;
  place-items: center;
  height: 25px;
  padding: 5px;
  line-height: 0 !important;
}

.pagination-items a { text-decoration: none; }
.pagination-items.pagination_page {}


.pagination-items.pagination_page .pagination-item.active span,
.pagination-items.pagination_page .pagination-item:not(.disabled):hover a{
  background-color: var(--vert);
  border: 1px solid var(--vert);
  color: white;
}
#articles .pagination-items.pagination_page .pagination-item.active span,
#articles .pagination-items.pagination_page .pagination-item:not(.disabled):hover a{
  background-color: var(--bleu);
  border: 1px solid var(--bleu);
}
#actualites .pagination-items.pagination_page .pagination-item.active span,
#actualites .pagination-items.pagination_page .pagination-item:not(.disabled):hover a{
  background-color: var(--bleu);
  border: 1px solid var(--bleu);
}
.pagination-items.pagination_page .pagination-item a { color:inherit; }

.back_arrow {
  height: 2rem;
  width: 2rem;
  display: block;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
  background-image: url("../img/back.svg");
  background-size: cover;
}


/* SCROLL ANCHOR WITH ANIMATION */

html,
main {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html,
  main {
    scroll-behavior: auto;
  }
}

/* 
  RECHERCHE 
*/

/* exception border pr li de la recherche */
header nav ul li#li_recherche {
  border-left: calc(1 * var(--p1)) solid white;
}
#header_mobile #recherche_container,
footer.mobile #recherche_container {
  padding: var(--p1);
  padding-left: calc(var(--p2) - var(--p1));
}
#formulaire_recherche form {
  margin-top: -1px;
  display: flex;
  height: 31px;
}
.submit_container { position: relative; }
.submit_container:before {
  content: "";

  position: absolute;
  left: 0px; top: 0px;
  width: 31px; aspect-ratio: 1/1;

  background-image: url("../img/search-line.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
}
.btn.submit {
  cursor: pointer;
  position: relative;
  border: none;
  width: 31px; aspect-ratio: 1/1;
  background: none;
}
#recherche {
  border: 0px;
  padding-left: calc(0 * var(--p1) + var(--p1));
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: var(--p1);
  flex: 1;
}
#recherche::placeholder {
  color: black;
  opacity: 1;
}

/*
   FOOTER MOBILE 
*/

:root {
  --footer_mobile_height: 3rem;
}

footer.mobile {
  height: var(--footer_mobile_height);
  border-top: solid var(--p1) var(--vert);
}
.article footer.mobile {
  border-top: solid var(--p1) var(--jaune);
}
#actualites.article footer.mobile {
  border-top: solid var(--p1) var(--bleu);
}
footer.mobile nav {
  width: 100%;
}
footer.mobile ul li {
  flex: 1;
}
footer.mobile ul li:not(last-of-type) {
  border-right : solid 1px var(--gris);
}
footer.mobile ul li a {
  padding-left: var(--p2);
  padding-right: var(--p2);

  line-height: var(--footer_mobile_height);
  display: block;
  height: 100%;
}
footer.mobile #recherche_container {
  padding-top: calc(var(--footer_mobile_height) / 2 - 31px / 2);
}

footer.mobile ul li {
  border-bottom: solid 1px var(--gris);
  height: var(--footer_mobile_height);
}

/*
  HEADER MOBILE
*/

#header_mobile #logo a {
  display: block;
  padding-left: var(--p2);
  padding-right: var(--p2);
  border-right: solid 1px var(--gris);
}

#header_mobile #logo a img {
  padding-top: var(--p1);
  padding-bottom: var(--p1);
}

/*
  STICKY
*/

.sticky {
  position: sticky;
  top: 0px;
  z-index: 999;
}



/* RUBRIQUE et ARTICLE : bouton pour zoom image */

.rubrique_logo figure,
#aside_article figure {
  position: relative;
}
/* bouton pour ouvrir l'img HD */
.show_big_image {
  background-color: white;
  border: solid 1px var(--gris);

  position: absolute;
  top: calc(1 * var(--p1));
  left: calc(1 * var(--p1));
}
.show_big_image:before {
  content: '';
  background-image: url("../img/croix_jaune.svg");
  background-repeat: no-repeat;
  background-position: center center;
  
  display: block;
  width: calc(3 * var(--m1));
  aspect-ratio: 1/1;

  cursor: pointer;
}
.show_big_image:hover {
  background-color: var(--jaune);
}
.show_big_image:hover:before {
  background-image: url("../img/croix_blanc.svg") !important;
}
/* couleur rubrique */
.rubrique .show_big_image:before {
  background-image: url("../img/croix_vert.svg");
}
.rubrique .show_big_image:hover {
  background-color: var(--vert);
}



/* RUBRIQUE et ARTICLE : ZOOM IMAGE HD */

/* container pour zoom sur image hd */
#zoom_container {
  position: fixed; z-index: 1000;
  top: 0px; left: 0px;
  width: 100vw; height: 100vh;
  padding: var(--p1);

  background-color: var(--gris-transparent);
}

/* image contenue dans l'écran en hauteur et en largeur */
#zoom_container figure { height: 100%; }
#zoom_container img {
  width: initial !important;
  max-width: calc(100vw - (2 * var(--p1)));
  max-height: calc(100vh - (2 * var(--p1)));
}

/* img, figcaption et button superposés */
#zoom_container figure { display: grid; }
#zoom_container figure > * { grid-column-start: 1; grid-column-end: -1; grid-row-start: 1; grid-row-end: -1; }
#zoom_container figure img { place-self: center; }
#zoom_container figure figcaption { align-self: end; justify-self: center; }
#zoom_container #close_button { align-self: start; justify-self: right; }

/* figcaption */ 
#zoom_container figure figcaption {
  padding: var(--p1);
  color: black; background-color: var(--jaune);
}
/* couleur rubrique */
.rubrique #zoom_container figure figcaption {
  color: white; background-color: var(--vert);
}

#zoom_container figure figcaption h3 { margin-bottom:0px } /* debug */
#zoom_container figure figcaption *:not(h3) { display: none; }
#zoom_container .credits { display: none; }

/* bouton pour fermer #zoom_container */
#zoom_container #close_button {
  background-color: white;
  border: solid 1px var(--gris);

  cursor: pointer;
}
#zoom_container #close_button:before {
  content: '';
  background-image: url("../img/multiplier_jaune.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: calc(3 * var(--m1));
  aspect-ratio: 1/1;
}
#zoom_container #close_button:hover {
  background-color: var(--jaune);
}
#zoom_container #close_button:hover:before {
  background-image: url("../img/multiplier_blanc.svg") !important;
}
/* couleur rubrique */
.rubrique #zoom_container #close_button:before {
  background-image: url("../img/multiplier_vert.svg");
}
.rubrique #zoom_container #close_button:hover {
  background-color: var(--vert);
}

/* temporary info */

.temporary-info {
  background-color:#fff;
  border-bottom: solid 1px var(--gris);
  margin-bottom: -1px;
}
.temporary-info:hover {
  border-bottom: none;
  margin-bottom: initial;
}
.temporary-info a {
  font-family: var(--lineal);
  font-size: var(--lineal_fs3);
  line-height: var(--lineal_lh3);
  padding: var(--p2);
  font-weight: 700;
  display:block;
  width:100%;
  text-align:center;
  color:#0B6;
}
.temporary-info a:hover {
  color:#fff;
  background-color:#0B6;
}
.temporary-info:hover:before{
  background-image: url("../img/back_white.svg");
}
.temporary-info:before{
  content: ' ';
  height: 2rem;
  margin-top: 2.25rem;
  margin-left: 2.25rem;
  width: 2rem;
  display: block;
  float: left;
  background-size: cover;
  transform: rotate(90deg);
  background-image: url("../img/back.svg");
}
