.curved_text > span:nth-child(1) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 0 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(2) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 1 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(3) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 2 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(4) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 3 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(5) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 4 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(6) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 5 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(7) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 6 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(8) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 7 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(9) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 8 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(10) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 9 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(11) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 10 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(12) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 11 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(13) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 12 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(14) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 13 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(15) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 14 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(16) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 15 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(17) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 16 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(18) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 17 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(19) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 18 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(20) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 19 + var(--curved_text_start_angle)));
}
.curved_text > span:nth-child(21) {
  transform: rotate(calc(var(--curved_text_letter_spacing) * 20 + var(--curved_text_start_angle)));
}
.curved_text {
  position: absolute;
}
.curved_text span {
  font-family: mono;
  height : var(--curved_text_rayon);
  display:inline-block;
  position: absolute;
}
