@font-face {
  font-family: "serif";
  src: url(serif.ttf);      
}

/* alegreya */

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "alegreya";
    src: url("./fonts/alegreya/Alegreya-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* chivo */

@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-Thin.woff2") format("woff2");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-ThinItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-ExtraLight.woff2") format("woff2");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-ExtraLightItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-LightItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-MediumItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-SemiBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-SemiBoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight:600;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-Black.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "chivo";
    src: url("./fonts/chivo/Chivo-BlackItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 900;
}

/* chivo_mono */

@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-Thin.woff2") format("woff2");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-ThinItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-ExtraLight.woff2") format("woff2");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-ExtraLightItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-LightItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-Black.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "chivo_mono";
    src: url("./fonts/chivo_mono/ChivoMono-BlackItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 900;
}

/* space_mono */

@font-face {
    font-family: "space_mono";
    src: url("../../../../../typos/files/space_mono/SpaceMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "space_mono";
    src: url("../../../../../typos/files/space_mono/SpaceMono-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "space_mono";
    src: url("../../../../../typos/files/space_mono/SpaceMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "space_mono";
    src: url("../../../../../typos/files/space_mono/SpaceMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "space_mono";
    src: url("../../../../../typos/files/space_mono/SpaceMono-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

:root {
  /* FONT FACES */
  --lineal: "chivo";
  --serif: "alegreya";
  --mono: "chivo_mono";

  /* FONT SIZES */
  --lineal_fs0-5: .7rem;
  --lineal_lh0-5: .9rem;
  --lineal_fs0: .87rem;
  --lineal_lh0: 1.2rem;
  --lineal_fs1: .95rem;
  --lineal_lh1: 1.25rem;
  --lineal_fs2: 1.2rem;
  --lineal_lh2: 1.45rem;
  --lineal_fs3: 1.4rem;
  --lineal_lh3: 1.65rem;

  --serif_fs1: 1rem;
  --serif_lh1: 1.25rem;
  --serif_fs2: 1.25rem;
  --serif_lh2: 1.75rem;
  --serif_fs3: 3rem;
  --serif_lh3: 3.75rem;
}
