

#main_recherche {
    border-top: solid var(--m1) var(--vert);
}
#main_recherche .texte_recherche {
    padding: var(--p2);
    padding-bottom: 0px; /* debug */
}
#main_recherche .no_results {
    font-family: var(--lineal);
    font-size: var(--lineal_fs1);
    line-height: var(--lineal_lh1);

    margin-left: var(--m2);
}



/* SECTION RESULTATS ARTICLES */

/* exceptions sur la section .liste_pages */
#main_recherche .liste_pages {
    padding: var(--p2);
}
#main_recherche .liste_pages > ul {
    display: grid;
    gap: var(--p1);
    grid-template-columns: repeat(4, 1fr);
    
    margin-left: calc(2 * var(--m1));
}



/* SECTION RESULTATS IMAGES / LISTE IMAGES */

#main_recherche .liste_images {
    padding: var(--p2);
}
.liste_images ul {
    column-count: 6;
    column-gap: var(--m1);

    margin-left: var(--m2);
}
.liste_images ul figure {
    border: 1px solid var(--gris);
    margin-bottom: var(--m1);
}
.liste_images ul img {}
.liste_images ul li figure figcaption {
    display: none;
}


/* SECTION RESULTATS DOCUMENTS */

#main_recherche .liste_documents {
    padding: var(--p2);
}

#main_recherche .liste_documents > ul {
    margin-left: calc(2 * var(--m1));

    display: grid;
    gap: var(--p1);
    grid-template-columns: repeat(4, 1fr);
}

#main_recherche .liste_documents .document a {
    display: flex;
    align-items: center;
    padding-right: var(--m1);
    border: solid 1px var(--gris);
}
#main_recherche .liste_documents .document a span {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}
#main_recherche .liste_documents .document a:before {
    content: ' ';
    background-image: url("../img/file.svg");
    background-repeat: no-repeat;
    background-position: center center;

    background-color: var(--gris);

    width: var(--liste_pages_img_width); flex-shrink: 0;
    aspect-ratio: 2/3;
    margin-right: var(--m1);
}
#main_recherche .liste_documents .document a:hover {
    background-color: var(--vert);
    color: white;
}


@media (max-width:1300px) {
    #main_recherche .liste_pages > ul,
    #main_recherche .liste_documents > ul {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* PAGINATION */

.pagination-items  {
    margin-left: calc(2 * var(--m1));
}