


:root {
  --theme_img_width: 300px;
  --sous_theme_img_width: 60px;
}

#main_portail {}

#main_portail .texte_portail {
  padding: var(--p2);
  
  display: flex; gap: var(--m2);
}
#main_portail .texte_portail > * {
  flex: 1 0 0%;
}



/* LISTE D'ENFANTS D'UNE RUBRIQUE (pour portail ou chaque thème) */

.rubrique_enfants .no_result {
  padding: var(--p2);
  border-top: solid 1px var(--gris);
}
/* logo */
.rubrique_enfants .enfant .logo_enfant {
  border-bottom: var(--p1) solid var(--vert);
}
.rubrique_enfants .enfant .logo_enfant img {
  object-fit: cover;
  height: 35vh;
  border-top: solid 1px var(--gris);
}

/* texte + bouton */
.rubrique_enfants .enfant a .intro_enfant {
  padding: var(--p2);
  padding-bottom: calc(2 * var(--p2));

  display: flex; gap: var(--m2);
}
.rubrique_enfants .enfant a .intro_enfant > * {
  flex: 1 0 0%;
}

/* texte : limite du nombre de lignes visibles */
.rubrique_enfants .enfant a h3 {
  font-size: var(--lineal_fs2);
  line-height: var(--lineal_lh2);
  font-weight: 600;
}
.rubrique_enfants .enfant a .texte_enfant p {
  position: relative;
  display: -webkit-box; -webkit-box-orient: vertical;
  overflow: hidden; -webkit-line-clamp: 4;
}
/* texte : dégradé blanc-transparent sur les lignes de texte */
.rubrique_enfants .enfant a .texte_enfant p:before {
  content:'';
  position: absolute;
  width: 100%; height: calc(4 * var(--serif_lh2));    
  background:linear-gradient(
    transparent calc(2 * var(--serif_lh2)),
    white
  );
}
/* bouton */
.rubrique_enfants .enfant a .bouton_lien_enfant {
  font-family: var(--lineal);
  padding: var(--p2);
  display: block;
  font-weight: 600;
  height: 2rem;
  width: 2rem;
  display: block;
  float: right;
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  background-image: url("../img/back.svg");
  background-color: var(--blanc);
  border: solid 1px var(--gris);
}
.rubrique_enfants .enfant a:hover .bouton_lien_enfant {
  background-image: url("../img/back_white.svg");
}
.rubrique_enfants .enfant a:hover .bouton_lien_enfant{
  background-color: var(--vert);
  color: var(--blanc);
  border: solid 1px var(--blanc);
}
/* exception pour #main_rubrique */
#main_rubrique .rubrique_enfants .enfant .logo_enfant {
  border-color: var(--jaune);
}
#main_rubrique .rubrique_enfants .enfant a .bouton_lien_enfant {
  background-image: url("../img/back_yellow.svg");
}
#main_rubrique .rubrique_enfants .enfant a:hover .bouton_lien_enfant{
  background-color: var(--jaune);
  background-image: url("../img/back_white.svg");
}

.rubrique_enfants .enfant {
  container-type: inline-size; container-name: enfant_container;
}
@container enfant_container (max-width: 1000px) {
  .rubrique_enfants .enfant a .intro_enfant {
    display: flex;
      flex-direction: column;
  }
  .rubrique_enfants .enfant a .bouton_lien_enfant {
    float: none;
    margin: auto;
  }
}

/* rubrique monographique */

.lettre_container {
  border-top: solid 1px var(--gris);
}
.lettre_container .lettre span {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
  line-height: 1rem;
  font-family: var(--lineal);

  display: grid;
  place-items: center;

  margin: auto;
  margin-top: 1rem; margin-bottom: 1rem;
  width: 4rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--gris);
  color: var(--jaune);
}

/* indication monographique dans portail */

.mono_info span {
  text-transform: lowercase;
  font-size: 1rem;
  line-height: calc(var(--largeur_boule) + calc(var(--largeur_boule)/2) - 6px);
  font-family: var(--mono);
  font-weight: 200;
  color: var(--grisboule);

  display: inline-block;
  text-align: center;
  
  margin: auto;
  margin-right: calc( calc(var(--largeur_boule) + calc(var(--largeur_boule)/2) - 3px) / 8);
  width: calc(var(--largeur_boule) + calc(var(--largeur_boule)/2) - 3px);
  height: calc(var(--largeur_boule) + calc(var(--largeur_boule)/2) - 3px);
  border: 1px solid var(--grisboule-clair);
  border-radius: 100%;
}

/* Rubrique Title */

.rubrique_title h2 {
  flex: 1;
}

.links_access_button:before{
  display:block;
  width: 1rem;
  height: 1.5rem;
  margin-top: -0.125rem;
  margin-right: calc(var(--p0) / 2);
  content: ' ';
  background-image: url("../img/taxon.svg");
  float:left;
  background-size: contain;
  background-repeat: no-repeat;
}
.links_access_button {
  font-weight: 400;
  color: var(--gris-sombre);
}
.links_access_button{
  margin-bottom: 0 !important;
}
.links_access_button:hover {
  opacity: 1;
  color: var(--jaune);

}
.links_access_button:hover:before{
  /* background-image: url("../img/taxon_blanc.svg"); */
}



/* ASIDE RUBRIQUE */

#aside_rubrique {
  position: sticky;
  top: calc(var(--lineal_lh1) + var(--p1) * 3);
  display: flex; flex-direction: column; flex-shrink: 0;
  overflow: hidden;
  width: calc(var(--menu_width) * 1);
  border-right: solid 1px var(--gris);
}

#aside_rubrique nav {}

#aside_rubrique nav ul:not(.boulier) li {
  border-left: calc(1 * var(--p1)) solid var(--jaune);
  background-color: white;
}
#aside_rubrique nav ul:not(.boulier) li a {
  display: block;
  padding-left: calc(0 * var(--p1) + var(--p1));
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: var(--p1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: var(--lineal_fs1);
  line-height: var(--lineal_lh1);
}
#aside_rubrique nav ul:not(.boulier) li:hover,
#aside_rubrique nav ul:not(.boulier) li.intersecting {
  border-left: calc(2 * var(--p1)) solid var(--jaune);
  font-weight: 600;
}

#aside_rubrique nav .no_result {
  padding: var(--p1);
  font-family: var(--lineal);
  font-size: var(--lineal_fs1);
  line-height: var(--lineal_lh1);
}

/* ASIDE PORTAIL */

#aside_portail {
  position: sticky;
  top: 0px;
  display: flex; flex-direction: column;
  overflow: hidden;
  width: calc(var(--menu_width) * 1);
  border-right: solid 1px var(--gris);
}
#aside_portail nav {
}
#aside_portail nav ul li {
  border-left: calc(1 * var(--p1)) solid var(--vert);
  background-color: white;
}
#aside_portail nav ul li a {
  display: block;
  padding-left: calc(0 * var(--p1) + var(--p1));
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: var(--p1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#aside_portail nav li:hover,
#aside_portail nav li.intersecting {
  border-left: calc(2 * var(--p1)) solid var(--vert);
  font-weight: 600;
}
#aside_portail nav li:hover a {}




/* RUBRIQUE */

/* MAIN */

#main_rubrique {}
#main_rubrique .rubrique_intro {
  display: flex; gap: var(--m2);
  padding: var(--p2);
}
#main_rubrique .rubrique_intro > * {
  flex: 1 0 0%;
}
#main_rubrique section .rubrique_notice {}
#main_rubrique section .rubrique_logo {
  padding-top: var(--p2);
}
#main_rubrique .rubrique_intro figcaption {
  padding: var(--p2);
}
#main_rubrique .rubrique_intro figcaption h3 {
  font-weight : 600;
}
#main_rubrique .rubrique_intro figcaption * {
  font-family: var(--lineal);
  font-size: var(--lineal_fs0);
  line-height: var(--lineal_lh0);
}
#main_rubrique .rubrique_intro figcaption h3 {
  font-size: var(--lineal_fs1);
  line-height: var(--lineal_lh1);
}
#main_rubrique .rubrique_intro .credits {
  padding-top: var(--p1);
  padding-left: var(--p2);
  padding-right: var(--p2);

  text-align: right;
  font-size: var(--lineal_fs0-5);
  line-height: var(--lineal_lh0-5);
}
#main_rubrique .rubrique_intro .credits + figcaption {
  padding-top: var(--p1);
}
#main_rubrique .rubrique_intro figure img {
  padding-bottom: 0;
  max-width: 100%;
  margin: auto;
  width: auto;
  border: solid 1px var(--gris);
}

/* RUBRIQUE MONO */

:root {
    --largeur_boule: 1.4rem;
}
ul.boulier {
    width: calc((7 * var(--largeur_boule)) + (6 * 5px));
    margin-left: calc(2 * var(--m1));

    display: grid;
    column-gap: 5px;
    row-gap: 10px;
}

/* grid-area: row / col; */
ul.boulier > li:nth-child(1) { grid-area: 1 / 1; }
ul.boulier > li:nth-child(2) { grid-area: 1 / 3; }
ul.boulier > li:nth-child(3) { grid-area: 1 / 5; }
ul.boulier > li:nth-child(4) { grid-area: 1 / 7; }

ul.boulier > li:nth-child(5) { grid-area: 2 / 2; }
ul.boulier > li:nth-child(6) { grid-area: 2 / 4; }
ul.boulier > li:nth-child(7) { grid-area: 2 / 6; }

ul.boulier > li:nth-child(8) { grid-area: 3 / 1; }
ul.boulier > li:nth-child(9) { grid-area: 3 / 3; }
ul.boulier > li:nth-child(10) { grid-area: 3 / 5; }
ul.boulier > li:nth-child(11) { grid-area: 3 / 7; }

ul.boulier > li:nth-child(12) { grid-area: 4 / 2; }
ul.boulier > li:nth-child(13) { grid-area: 4 / 4; }
ul.boulier > li:nth-child(14) { grid-area: 4 / 6; }

ul.boulier > li:nth-child(15) { grid-area: 5 / 1; }
ul.boulier > li:nth-child(16) { grid-area: 5 / 3; }
ul.boulier > li:nth-child(17) { grid-area: 5 / 5; }
ul.boulier > li:nth-child(18) { grid-area: 5 / 7; }

ul.boulier > li:nth-child(19) { grid-area: 6 / 2; }
ul.boulier > li:nth-child(20) { grid-area: 6 / 4; }
ul.boulier > li:nth-child(21) { grid-area: 6 / 6; }

ul.boulier > li:nth-child(22) { grid-area: 7 / 1; }
ul.boulier > li:nth-child(23) { grid-area: 7 / 3; }
ul.boulier > li:nth-child(24) { grid-area: 7 / 5; }
ul.boulier > li:nth-child(25) { grid-area: 7 / 7; }

ul.boulier > li:nth-child(26) { grid-area: 8 / 4; }
 
ul.boulier > li a {
  position: relative;
  width: var(--largeur_boule);
  height: var(--largeur_boule);
  display: grid;
  place-items: center;
}
ul.boulier > li a::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(var(--largeur_boule) + calc(var(--largeur_boule)/2) - 3px);
  aspect-ratio: 1/1;
  border: 1px solid var(--grisboule);
  border-radius: 100%;
}
ul.boulier > li:not(.disabled) a:before {
  border: 1px solid var(--jaune);
}
ul.boulier > li a span {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: lowercase;
  color: black;
  font-family:var(--mono);
  font-weight: 200;
}
ul.boulier > li:not(.disabled) a span {
  color: var(--jaune);
  font-weight: 600;
}
ul.boulier > li:not(.disabled):hover a span,
ul.boulier li.intersecting span  {
  color: white !important;
  font-weight: 600;
}
ul.boulier > li:not(.disabled):hover a:before,
ul.boulier li.intersecting a:before  {
  background-color: var(--jaune);
  border: 1px solid var(--jaune);
}
ul.boulier > li.disabled {}



/* MENU */

.rubrique_menu_wrapper {
  display: flex;
}

.rubrique_enfants {
/*border-top: solid 1px var(--gris);*/
  flex: 1;
}

.sous_themes_title {
  border-top: solid 1px var(--gris);
  padding: var(--p1) var(--p1) 0 var(--m2);
}

/* ASIDE */
/*
#aside_rubrique {
}
#aside_rubrique h4 {
  font-weight: 500;
}
#aside_rubrique h2 {
  padding: var(--m1) var(--m2) var(--m1) var(--m2);
  font-size : var(--lineal_fs2);
  line-height : var(--lineal_lh2);
  background-color: var(--jaune);
}
*/
/* Sous-thèmes */
/*
#aside_rubrique {
  width: var(--aside_width);
  border-left : solid 1px var(--gris);
}
#aside_rubrique #sous_themes li{
  margin-bottom: 0;
}
#aside_rubrique #sous_themes figure {
  margin-top: var(--p2);
}

#aside_rubrique #sous_themes figure figcaption {
  border-top: solid var(--m1) var(--jaune);
  font-weight: 500;
}
#aside_rubrique #sous_themes figure:hover figcaption:after {
  content: "→";
  margin-left: var(--m1);
  color: var(--jaune);
  line-height:0;
}
#aside_rubrique #sous_themes figure:hover img  {
  filter : grayscale(0);
  opacity: 1;
}*/
#aside_rubrique #sous_themes figure:hover figcaption {
  /*border-left: solid var(--m2) var(--jaune);*/
}
#aside_rubrique #sous_themes figure:hover figcaption *{
}
/*
#aside_rubrique #sous_themes figure img{
  border-top: solid 1px var(--gris);
  height : calc(35vh / 2);
  object-fit: cover;
}
#aside_rubrique #sous_themes h4 {
}

#aside_rubrique figcaption,
#aside_rubrique figcaption * {
  font-family: var(--lineal);
  font-size: var(--lineal_fs1);
}
#aside_rubrique figcaption {
  padding:var(--p1);
}*/
