:root {}

/* BANDEAU */

#bandeau img {
  object-fit: cover;
  height: 35vh;
}

/* GAUFRIER IMAGES DU JOUR */

/*
section#images_du_jour {
  padding: 0px;
}
section#images_du_jour ul {
  gap: 0px;
}

section#images_du_jour.gaufrier ul li figure figcaption {
  border-bottom: 0px;
  border-left: 0px;
}

section#images_du_jour.gaufrier ul li figure figcaption { display: none; }
section#images_du_jour.gaufrier ul li figure:hover figcaption { display: block; }

section#images_du_jour.gaufrier ul li figure { position: relative; }
section#images_du_jour.gaufrier ul li figure figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

section#images_du_jour.gaufrier ul li figure:hover figcaption {
  background-color: white;
  color: black;
}
*/
.gaufrier ul li figure figcaption p {
  font-family: var(--lineal);
  
  font-size: var(--lineal_fs1);
  line-height: var(--lineal_lh1);
  font-weight: 500;
  
  margin-bottom: 0px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.gaufrier ul li figure figcaption p:nth-child(2) {
  font-weight: 300;
}


/* SOMMAIRE TEXTE */

#sommaire_texte {
  padding: var(--p2);
  border-top: solid var(--m1) var(--vert);

  display: flex; gap: var(--m2);
}
#sommaire_texte > * {
  flex: 1 0 0%;
}

#sommaire_texte div:nth-of-type(2) a:before {
  content:' ';
  height: 2rem;
  margin-top:-0.5rem;
  margin-right:1rem;
  margin-left:-0.5rem;
  width: 2rem;
  display: block;
  float: left;
  background-size: cover;
  transform: rotate(90deg);
  background-image: url("../img/back.svg");
}
#sommaire_texte div:nth-of-type(2) a:hover:before {
  background-image: url("../img/back_white.svg");
}
#sommaire_texte div:nth-of-type(2) a {
  font-family: var(--lineal);
  padding: var(--p2);
  display: block;
  font-weight: 600;
  border: solid 1px var(--gris);
  color: var(--vert);
  background-color: var(--blanc);
}
#sommaire_texte div:nth-of-type(2) a:hover {
  border: none;
  color: var(--blanc);
  background-color: var(--vert);
  border: solid 1px var(--blanc);
}

#selection_articles {
}

#derniers_articles {
}

#sommaire > section:not(section:first-of-type):not(section:nth-of-type(2)) {
  border-top : solid 1px var(--gris);
}

#sommaire section h2 {
}

#sommaire section h3 {
}

/* SECTION ACTUALITES */


#actualites {
  padding: var(--p2);
}



/* SECTION PARTENAIRES */

#partenaires {
  padding: var(--p2);
}
#partenaires .liste_pages {
  padding: 0px;
}



