[(#ID_SECTEUR|=={1}|oui)
    [(#REM) Si on est sur la rubrique Thème (1) on ajoute l'ariane]

    <nav id="ariane">
        [(#ID_ARTICLE|oui)
          <BOUCLE_scope_again(ARTICLES) {id_article}>
            <BOUCLE_ariane_article(HIERARCHIE)
                {id_article}>
                <div class="ariane_element"><a href="#URL_RUBRIQUE">#TITRE</a></div>
            </BOUCLE_ariane_article>
            <div class="ariane_element"><a href="#URL_ARTICLE">#TITRE</a></div>
          </BOUCLE_scope_again>
        ]

        [(#ID_ARTICLE|non)
            <BOUCLE_ariane_rubrique(HIERARCHIE)
                {id_rubrique}>
                <div class="ariane_element"><a href="#URL_RUBRIQUE">#TITRE</a></div>
            </BOUCLE_ariane_rubrique>
            <div class="ariane_element"><a href="#URL_RUBRIQUE">#TITRE</a></div>
            <a href="#rubrique_links">
              <h3 class="links_access_button">
                Voir les sous-thèmes
              </h3>
            </a>
        ]
    </nav>
]
