<B_images>
      
  [(#REM) S'il y a des images, on insère l'aside]

  <aside class="desktop" id="aside_article">

    <h3>Images</h3>
    
    <section id="article_images">

      <BOUCLE_images(DOCUMENTS)
        {id_article}
        {media=image}
        {par date}>

        <figure id="#ID_DOCUMENT">

          <B_condition_mot_cle_hd>

            [(#REM) Si l'image A le mot clé "hd"]

            <BOUCLE_condition_mot_cle_hd(MOTS)
              {id_document}
              {titre_mot=hd}>
                <button class="show_big_image"></button>
                <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" data-large="[(#URL_DOCUMENT|image_reduire{2000,0}|extraire_attribut{src})]"loading="lazy">
            </BOUCLE_condition_mot_cle_hd>
            
          </B_condition_mot_cle_hd>
            
            [(#REM) Si l'image N'A PAS le mot clé "hd"]

            <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" loading="lazy">
            
          <//B_condition_mot_cle_hd>

          [<div class="credits"><strong>Crédits : </strong>(#CREDITS)</div>]
          
          <figcaption>
            <h3>#TITRE</h3>
            <div>
              #DESCRIPTIF
            </div>
          </figcaption>
        </figure>
            
      </BOUCLE_images>
    </section>

  </aside>

</B_images>
