<aside id="aside_rubrique">
  <section class="sous_themes_title">
      <h2 class="mobile">Sous-thèmes</h2>
  </section>
  
  <nav>

    <BOUCLE_condition_mot_cle_monographique(MOTS)
      {id_rubrique}
      {titre_mot=monographique}>

        [(#REM) RUBRIQUE MONOGRAPHIQUE : si la rubrique a le mot-clé "monographique"]
        <ul class="boulier scroll_targets_container" id="sous_themes">
          <BOUCLE_alphabet(DATA)
            {enum A,Z}>
            [(#REM) Boucle pr énumérer l'alphabet]

              <B_condition_lettre_avec_article>
                <BOUCLE_condition_lettre_avec_article(ARTICLES)
                  {id_rubrique}
                  {titre==^[#VALEUR].}
                  {0,1}>
                  [(#REM) Get d'un seul article qui commence par la lettre en cours]

                  [(#REM) Output d'un lien .active si la lettre correspond à un article]
                  <li class="sub_child scroll_target_marker" data-id="[(#TITRE|substr{0,1})]">
                    <a href="#INFO_URL{rubrique, #ID_RUBRIQUE}#[(#TITRE|substr{0,1})]"><span>#VALEUR</span></a>
                  </li>
                </BOUCLE_condition_lettre_avec_article>
              </B_condition_lettre_avec_article>

                [(#REM) Output d'un lien .disabled si la lettre ne correspond à aucun article]
                <li class="sub_child disabled"><a><span>#VALEUR</span></a></li>

              <//B_condition_lettre_avec_article>
          </BOUCLE_alphabet>
        </ul>

    </BOUCLE_condition_mot_cle_monographique>

      [(#REM) RUBRIQUE CLASSIQUE]
      <ul class="scroll_targets_container">
        <BOUCLE_articles_classiques(ARTICLES)
          {id_rubrique}
          {par num titre, titre}>
          <li class="scroll_target_marker" data-id="#ID_ARTICLE">
            <a href="#URL_RUBRIQUE##ID_ARTICLE">#TITRE</a>
          </li>
        </BOUCLE_articles_classiques>
      </ul>

    <//B_condition_mot_cle_monographique>

  </nav>
</aside>
