
<aside id="aside_portail">
  
  <section class="sous_themes_title"></section>

  <nav>
    <ul class="scroll_targets_container">
      [(#REM) Scope pr la rubrique "Thèmes" (1)]
      <BOUCLE_scope_portail(RUBRIQUES)
        {id_rubrique=1}>
        <BOUCLE_themes(RUBRIQUES)
          {id_parent}
          {par num titre, titre}>
            <li class="scroll_target_marker" data-id="#ID_RUBRIQUE">
              <a href="#URL_RUBRIQUE{1}##ID_RUBRIQUE">#TITRE</a>
            </li>
        </BOUCLE_themes>
      </BOUCLE_scope_portail>
    </ul>
  </nav>

</aside>

