<BOUCLE_scope_rubrique(RUBRIQUES) {id_rubrique=#ENV{rubrique}}>

[(#ID_SECTEUR|in_array{#ARRAY{0,1,1,22}}|oui)
[(#ID_PARENT|in_array{#ARRAY{0,1,1,22}}|oui)

    [(#REM)
        On affiche les logos si on est :
        - dans "Thèmes" (1) mais pas pour "Thèmes" elle-même
        - dans "Actualités" (22)
    ]

    <div class="bloc logos_verticaux">

        [(#ID_ARTICLE|non)

            [(#REM) si RUBRIQUE enfant de "Thèmes" (1)]
            <div class="tranche_logo_vertical">
                <figure>
                    [<img alt="Logo de la rubrique #TITRE" src="(#LOGO_RUBRIQUE|extraire_attribut{src})"/>]
                </figure>
            </div>
        ]

        [(#ID_ARTICLE|oui)

            [(#REM) si ARTICLE enfant d'une rubrique enfant de "Thèmes" (1)]
            <div class="tranche_logo_vertical">
                <figure>
                    [<img alt="Logo de la l'article #TITRE" src="(#LOGO_ARTICLE|extraire_attribut{src})"/>]
                </figure>
            </div>
        ]

    </div>
]
]

</BOUCLE_scope_rubrique>