<div id="logos_partenaires">
    <ul>
        <li>
            <a href="https://www.cnahes.org/" target="_blank">
                <img alt="Logo du CNAHES" src="#CHEMIN{img/logos/logo_cnahes.png}">
            </a>
        </li>
        <li>
            <a href="https://askoria.eu/" target="_blank">
                <img alt="Logo de Askoria" src="#CHEMIN{img/logos/logo_askoria.png}">
            </a>
        </li>
        <li>
            <a href="http://www.justice.gouv.fr/" target="_blank">
                <img alt="Logo du Ministère de la Justice" src="#CHEMIN{img/logos/logo_ministere_justice.png}">
            </a>
        </li>
        <li>
            <a href="https://solidarites.gouv.fr/" target="_blank">
                <img alt="Logo du Ministère des Solidarités" src="#CHEMIN{img/logos/logo_ministere_solidarites.png}">
            </a>
        </li>
        <li>
            <a href="https://fondsdedotationfrancoisetetard.eu/" target="_blank">
                <img alt="Logo du fonds de dotation Françoise Tétard" src="#CHEMIN{img/logos/logo_fondation_francoise_tetard.png}">
            </a>
        </li>
        <li>
            <a href="https://www.irts-pacacorse.com/" target="_blank">
                <img alt="Logo de l'IRTS PACA Corse" src="#CHEMIN{img/logos/logo_irts_paca_corse.png}">
            </a>
        </li>
    </ul>
</div>