<footer class="mobile">
    <nav>
      <ul>

        <li [(#GABARIT|=={recherche}|oui) class="actif"] id="li_recherche">
          <div id="recherche_container">
            #FORMULAIRE_RECHERCHE
          </div>
        </li>
 
        <li [(#GABARIT|=={sommaire}|oui) class="actif"]>
          <a href="#URL_PAGE{sommaire}">Retour à l’accueil</a>
        </li>
        

        <li [(#VAR_SECTEUR|=={portail}|oui) class="actif"]>
          <BOUCLE_scope_portail(RUBRIQUES)
            {id_rubrique=1}>
              <a href="#URL_RUBRIQUE">#TITRE</a>
          </BOUCLE_scope_portail>
        </li>

        <li class="scroll_target_marker" data-id="actualites">
          <BOUCLE_scope_actualites(RUBRIQUES)
            {id_rubrique=22}
            {tout}>
              <a href="#URL_PAGE{sommaire}#actualites">#TITRE</a>
          </BOUCLE_scope_actualites>
        </li>
      
        <BOUCLE_presentation(ARTICLES)
          {id_rubrique=20}
        >
          <li>
            <a href="#URL_ARTICLE">#TITRE</a>
          </li>
        </BOUCLE_presentation>

      </ul>
    </nav>
</footer>
