<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <title>#ENV{titre}[ - (#ENV{soustitre})]</title>
    <meta name="description" content="#ENV{descr}">
    <meta name="keywords" content="#ENV{keywords}">
    <meta name="news_keywords" content="#ENV{keywords}">
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="#ENV{titre}[ - (#ENV{soustitre})]" />
    <meta property="og:site_name" content="#ENV{titre}" />
    <meta property="og:description" content="#ENV{descr}" />
    <meta property="og:image" content="#ENV{ogimg}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="twitter:title" content="#ENV{titre}[ - (#ENV{soustitre})]" />
    <meta property="twitter:description" content="#ENV{descr}" />
    <meta property="twitter:image" content="#ENV{ogimg}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="fb:title" content="#ENV{titre}[ - (#ENV{soustitre})]" />
    <meta property="fb:description" content="#ENV{descr}" />
    <meta property="fb:image" content="#ENV{ogimg}" />
    <meta property="ownpage:title" content="#ENV{titre}[ - (#ENV{soustitre})]" />
    <meta property="ownpage:description" content="#ENV{descr}" />
    <meta property="ownpage:image" content="#ENV{ogimg}" />

    [<link rel="icon" type="image/x-icon" href="(#CHEMIN{img/logo_ppe_favicon.ico})" />
    [<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{img/logo_ppe_favicon.ico})" />]]

    <link href="#CHEMIN{css/fonts.css}" rel="stylesheet">
    <link href="#CHEMIN{css/curved_text.css}" rel="stylesheet">
    <link href="#CHEMIN{css/common.css}" rel="stylesheet">
    <link href="#CHEMIN{css/#ENV{gabarit}.css}" rel="stylesheet">
    <link href="#CHEMIN{css/break_point_500.css}" rel="stylesheet">
    <link href="#CHEMIN{css/break_point_768.css}" rel="stylesheet">
    <link href="#CHEMIN{css/break_point_1000.css}" rel="stylesheet">
    <link href="#CHEMIN{css/break_point_1200.css}" rel="stylesheet">
    <link href="#CHEMIN{css/break_point_1500.css}" rel="stylesheet">

    <script src="#CHEMIN{js/common.js}" defer></script>

    <script src="#CHEMIN{js/#ENV{gabarit}.js}" defer></script>

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//histoire-protection-enfance.fr/matomo/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    
</head>
