[(#REM) Scope pr utiliser id_article]
<BOUCLE_scope_article(ARTICLES) {id_article}>
<main id="main_article">
  <div class="sticky desktop">
    <INCLURE
        {fond=inclure/ariane}
        {env}
        {id_secteur}
        {titre}>
  </div>
      
  <section class="article_texte" id="#ID_ARTICLE">
    <h2>#TITRE</h2>
    #TEXTE
  </section>
  <div>
    <B_documents>
      <section class="doc_section article_documents">
        <h3 class="befored">Documents</h3>
         <ul>
           <BOUCLE_documents(DOCUMENTS)
             {id_article}
             {media=file}>
             <li>
               <a href="#URL_DOCUMENT">#TITRE</a>
             </li>
           </BOUCLE_documents>
         </ul>
      </section>
    </B_documents> 
    [
      <section class="doc_section article_bibliographie">
        <h3 class="befored">Bibliographie</h3>
          (#PS)
      </section>
    ]
    [
      <section class="doc_section article_liens">
        <h3 class="befored">Sitographie</h3>
          (#CHAPO)
      </section>
    ]
  </div>
  [(#REM) Exception pour article "Qui sommes-nous ?" (7)]
  [(#ID_ARTICLE|=={7}|oui)
  <section>
    <h3 class="befored">Partenaires</h3>
    <INCLURE
      {fond=inclure/bloc_logos_partenaires}
      {env}>
  </section>
  ]
  
  <div class="mobile">
  <B_images>
  <div id="aside_article">
  <section id="article_images">
    <h3>Images</h3>

    <BOUCLE_images(DOCUMENTS)
      {id_article}
      {media=image}
      {par date}>

      <figure id="#ID_DOCUMENT">

        <B_condition_mot_cle_hd>

          [(#REM) Si l'image A le mot clé "hd"]

          <BOUCLE_condition_mot_cle_hd(MOTS)
            {id_document}
            {titre_mot=hd}>
              <button class="show_big_image"></button>
              <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" data-large="[(#URL_DOCUMENT|image_reduire{2000,0}|extraire_attribut{src})]"loading="lazy">
          </BOUCLE_condition_mot_cle_hd>
          
        </B_condition_mot_cle_hd>
          
          [(#REM) Si l'image N'A PAS le mot clé "hd"]

          <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" loading="lazy">
          
        <//B_condition_mot_cle_hd>

        [<div class="credits"><strong>Crédits : </strong>(#CREDITS)</div>]
        
        <figcaption>
          <h3>#TITRE</h3>
          <div>
            #DESCRIPTIF
          </div>
        </figcaption>
      </figure>
          
    </BOUCLE_images>
  </section>
  </div>
  </B_images>
  </div>

</main>

</BOUCLE_scope_article>
