[(#REM) Scope pr utiliser id_rubrique]
<BOUCLE_scope_rubrique(RUBRIQUES) {id_rubrique}>

<main id="main_rubrique">
        
  <div class="sticky desktop">
  <INCLURE
    {fond=inclure/ariane}
    {env}
    {id_secteur}
    {titre}>
  </div>

  <section id="rubrique_top" class="rubrique_intro">

      <div class="rubrique_notice">

          <div class="rubrique_title">
          <h2>#TITRE</h2>
          </div>
          <!-- AFFICHAGE LOGO MOBILE -->
          <div class="rubrique_logo under_1000">
            <BOUCLE_images_mobile(DOCUMENTS)
              {id_rubrique}
              {media=image}
              {0,1}>
              <figure>


          <B_condition_mot_cle_hd_mobile>

            [(#REM) Si l'image A le mot clé "hd"]

            <BOUCLE_condition_mot_cle_hd_mobile(MOTS)
              {id_document}
              {titre_mot=hd}>
                <button class="show_big_image"></button>
                <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" data-large="[(#URL_DOCUMENT|image_reduire{2000,0}|extraire_attribut{src})]"loading="lazy">
            </BOUCLE_condition_mot_cle_hd_mobile>
            
          </B_condition_mot_cle_hd_mobile>
            
            [(#REM) Si l'image N'A PAS le mot clé "hd"]

            <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" loading="lazy">
            
          <//B_condition_mot_cle_hd_mobile>

                [<div class="credits"><strong>Crédits : </strong>(#CREDITS)</div>]

                <figcaption>
                  <h3>#TITRE</h3>
                  #DESCRIPTIF
                </figcaption>
              </figure>
            </BOUCLE_images_mobile>
          </div>
          <a class="under_1000 desktop" href="#rubrique_links">
            <h3 class="links_access_button">
              Voir les sous-thèmes
            </h3>
          </a>
          #TEXTE
      </div>
      
      <div class="rubrique_logo over_1000">
        <BOUCLE_images(DOCUMENTS)
          {id_rubrique}
          {media=image}
          {0,1}>
          <figure>


          <B_condition_mot_cle_hd>

            [(#REM) Si l'image A le mot clé "hd"]

            <BOUCLE_condition_mot_cle_hd(MOTS)
              {id_document}
              {titre_mot=hd}>
                <button class="show_big_image"></button>
                <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" data-large="[(#URL_DOCUMENT|image_reduire{2000,0}|extraire_attribut{src})]"loading="lazy">
            </BOUCLE_condition_mot_cle_hd>
            
          </B_condition_mot_cle_hd>
            
            [(#REM) Si l'image N'A PAS le mot clé "hd"]

            <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" loading="lazy">
            
          <//B_condition_mot_cle_hd>

            [<div class="credits"><strong>Crédits : </strong>(#CREDITS)</div>]

            <figcaption>
              <h3>#TITRE</h3>
              #DESCRIPTIF
            </figcaption>
          </figure>
        </BOUCLE_images>
      </div>

  </section>

  [(#REM) condition si la rubrique contient des articles]
  <BOUCLE_condition_rubrique_avec_article(ARTICLES)
    {id_rubrique}
    {0, 1}>
      
      <div id="rubrique_links">

        <div class="rubrique_menu_wrapper">
          <div>
            <INCLURE{fond=inclure/aside_rubrique, env} />
          </div>
          <BOUCLE_mot_cle(MOTS)
            {id_rubrique}
            {titre_mot=monographique}>

            [(#REM) RUBRIQUE MONOGRAPHIQUE]

            <div class="rubrique_enfants">

              <BOUCLE_alphabet(DATA)
                {enum A,Z}>
                [(#REM) boucle pr énumérer l'alphabet]

                <BOUCLE_lettre_avec_soustheme(ARTICLES)
                  {id_rubrique}
                  {titre==^[#VALEUR].}
                  {0,1}>
                  [(#REM) lettre de l'alphabet pour laquelle il y a au moins un soustheme]

                  <div id="#VALEUR" class="scroll_target lettre_container">
                    
                    <p class="lettre">
                      <span>#VALEUR</span>
                    </p>

                    <BOUCLE_articles_monographiques(ARTICLES)
                      {id_rubrique}
                      {titre==^[#VALEUR].}
                      {par titre}>
                      [(#REM) boucle dans tous les sousthemes correspondants à cette lettre]

                      <section class="enfant" id="#ID_ARTICLE">
                          <a href="#URL_ARTICLE">
                          <figure class="logo_enfant">
                            [<img alt="Logo de la l'article #TITRE" src="(#LOGO_ARTICLE|image_reduire{1500,0}|extraire_attribut{src})" loading="lazy">] 
                          </figure>
                          <div class="intro_enfant">
                            <div>
                              <h3>#TITRE</h3>
                              <div class="texte_enfant">
                                <p>[(#TEXTE|textebrut)]</p>
                              </div>
                            </div>
                            <div>
                              <div class="bouton_lien_enfant"></div>
                            </div>
                          </div>
                        </a>
                      </section>
                    </BOUCLE_articles_monographiques>

                  </div> [(#REM) .lettre_container]

                </BOUCLE_lettre_avec_soustheme>
                
              </BOUCLE_alphabet>
            </div> [(#REM) .rubrique_enfants]

          </BOUCLE_mot_cle>

            [(#REM) RUBRIQUE CLASSIQUE]

            <div class="rubrique_enfants">
            
              <BOUCLE_articles_classiques(ARTICLES)
                {id_rubrique}
                {par num titre, titre}>
                <section class="enfant scroll_target" id="#ID_ARTICLE">
                  <a href="#URL_ARTICLE">
                    <figure class="logo_enfant">
                      [<img alt="Logo de la l'article #TITRE" src="(#LOGO_ARTICLE|image_reduire{1500,0}|extraire_attribut{src})" loading="lazy">]
                    </figure>
                    <div class="intro_enfant">
                      <div>
                        <h3>#TITRE</h3>
                        <div class="texte_enfant">
                          <p>[(#TEXTE|textebrut)]</p>
                        </div>
                      </div>
                      <div>
                        <div class="bouton_lien_enfant"></div>
                      </div>
                    </div>
                  </a>
                </section>
              </BOUCLE_articles_classiques>

            </div> [(#REM) .rubrique_enfants]

          <//B_mot_cle>

        </div> [(#REM) .rubrique_menu_wrapper]

      </div> [(#REM) .rubrique_links]

  </BOUCLE_condition_rubrique_avec_article>
    [(#REM) Pas de sousthemes pour cette rubrique]
  <//B_condition_rubrique_avec_article>

</main>

</BOUCLE_scope_rubrique>
