[(#REM) Scope pr utiliser id_rubrique]
<BOUCLE_scope_portail(RUBRIQUES) {id_rubrique}>

<main id="main_portail">

  <section class="texte_portail" id="rubrique_top"[(#REM) id="#ID_RUBRIQUE" ]>
    <div class="col">
      <h2>#TITRE</h2>
      #TEXTE
    </div>
    <div class="col"></div>
  </section>
  
  <div class="rubrique_menu_wrapper">
    <div> 
    <INCLURE{fond=inclure/aside_portail, env} />
    </div>
    <div class="rubrique_enfants">

      <BOUCLE_themes(RUBRIQUES)
        {id_parent}
        {par num titre, titre}>
        <section class="enfant scroll_target" id="#ID_RUBRIQUE">

          <a href="#URL_RUBRIQUE">

            <figure class="logo_enfant [(#LOGO_RUBRIQUE|non)no_logo]">
              [<img alt="Logo de la rubrique #TITRE" src="(#LOGO_RUBRIQUE|image_reduire{1500,0}|extraire_attribut{src})" loading="lazy">]
            </figure>

            <div class="intro_enfant">

              <div>
                <h3>#TITRE</h3>
                <div class="texte_enfant">
                  #INTRODUCTION
                </div>
              </div>

              <div>
                <BOUCLE_condition_mot_cle_monographique(MOTS)
                  {id_rubrique}
                  {titre_mot=monographique}>
                    [(#REM) RUBRIQUE MONOGRAPHIQUE]
                    <div class="mono_info"><span>M</span><span>o</span><span>n</span><span>o</span><span>g</span><span>r</span><span>a</span><span>p</span><span>h</span><span>i</span><span>e</span></div>
                </BOUCLE_condition_mot_cle_monographique>
                <div class="bouton_lien_enfant"></div>
              </div>

            </div>

          </a>

        </section>

      </BOUCLE_themes>
    </div>
    
  </div>

</main>

</BOUCLE_scope_portail>
