<div class="menu" id="desktop">
  <header>
    <section id="logo">
      <a href="#URL_PAGE{sommaire}">
        <img alt="Logo du Portail Protection de l'enfance" src="#CHEMIN{img/logo_ppe_texte.svg}" loading="lazy">
      </a>
    </section>
    <nav class="desktop">
      <ul class="scroll_targets_container">
        
        <li [(#GABARIT|=={sommaire}|oui) class="actif"]>
          <a href="#URL_PAGE{sommaire}">Accueil</a>
        </li>

        <li [(#VAR_SECTEUR|=={portail}|oui) class="actif"]>
          <BOUCLE_scope_portail(RUBRIQUES)
            {id_rubrique=1}>
              <a href="#URL_RUBRIQUE">#TITRE</a>
          </BOUCLE_scope_portail>
        </li>

        <li class="scroll_target_marker" data-id="actualites">
          <BOUCLE_scope_actualites(RUBRIQUES)
            {id_rubrique=22}
            {tout}>
              <a href="#URL_PAGE{sommaire}#actualites">#TITRE</a>
          </BOUCLE_scope_actualites>
        </li>

        <BOUCLE_scope_qui_sommes_nous(ARTICLES)
          {id_article=7}>
            <li class="#EXPOSE{actif}">
              <a href="#URL_ARTICLE">#TITRE</a>
            </li>
        </BOUCLE_scope_qui_sommes_nous>

        <li [(#GABARIT|=={recherche}|oui) class="actif"] id="li_recherche">
          <div id="recherche_container">
            #FORMULAIRE_RECHERCHE
          </div>
        </li>

      </ul>
    </nav>
  </header>
  <footer>
    <div style="bottom:var(--p1);left:var(--p1)">
    <INCLURE
      {fond=inclure/logo_ppe_cercle_menu}
    />
    </div>
  </footer>
</div>

<div id="header_mobile">
    <section id="logo">
        <a href="#URL_PAGE{sommaire}">
            <img alt="Logo du Portail Protection de l'enfance" src="#CHEMIN{img/logo_ppe_mobile.svg}" loading="lazy">
        </a>
        <li [(#GABARIT|=={recherche}|oui) class="actif"]>
            <div id="recherche_container">
                #FORMULAIRE_RECHERCHE
            </div>
        </li>
    </section>
    <!-- Sur mobile, l'ariane est dans le header -->
    [(#ID_RUBRIQUE|=={1}|non)
      <section>
      [(#ID_ARTICLE|oui)
        <BOUCLE_scope_article(ARTICLES) {id_article}>
          <INCLURE
              {fond=inclure/ariane}
              {env}
              {id_secteur}
              {titre}>
        </BOUCLE_scope_article>
      ]
      [(#ID_ARTICLE|non)
        <BOUCLE_scope_rubrique(RUBRIQUES) {id_rubrique}>
          <INCLURE
              {fond=inclure/ariane}
              {env}
              {id_secteur}
              {titre}>
        </BOUCLE_scope_rubrique>
      ]
      </section>
    ]
</div>
