<style>
#sommaire_texte {
  border-top: solid var(--m1) var(--vert) !important;
}
</style>
<section class="temporary-info">
<a 
href="https://histoire-protection-enfance.fr/actualites/evenements/article/4eme-journee-de-valorisation-des-portails-des-outils-numeriques-pour-interroger">La 4ème Journée de valorisation des portails aura lieu le 15 octobre 2024</a>
</section>
