<div id="formulaire_recherche">
	<form action="[(#ENV{action})]" method="get">
		[(#ENV{action}|form_hidden)]
		<input type="[(#HTML5|?{search,text})]" class="search text" size="10" name="recherche" id="#ENV{_id_champ}" value="" accesskey="4" autocapitalize="off" autocorrect="off" placeholder="Rechercher"/>
		<div class="submit_container">
			<input type="submit" class="btn submit" value="" title="<:info_rechercher:>" />
		</div>
	</form>
</div>